{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": 0,
        "comma-dangle": 0,
        "react/jsx-filename-extension": 0,
        "react/destructuring-assignment": 0,
        "react/prop-types": 0,
        "react/button-has-type": 0,
        "react/jsx-one-expression-per-line": 0,
        "import/prefer-default-export": 0,
        "import/no-mutable-exports": 0,
        "eqeqeq": 0
    }
}