@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @(DateTime.Now.ToString("[ddd, MMM] [MM/dd/yyyy] ")+" [Todo: Show Weather for next few days]")
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
