@page "/signin"

<h1>Sign In</h1>

<div class="container">
        <h1>Log in to ProductivitySite</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" class="form-control"/>
    </div>
</div>

@functions {
}
